<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      DETALHES DO VÍDEO
    </ion-title>
    <ion-button (click)="go(1)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="sideRedBar">
    <ion-grid>
      <video class="videoCenter" width="320" height="240" controls>
        <source src="./assets/video/vid_003.mp4" type="video/mp4">
      </video>
      <ion-row>
        <ion-col class="titleNotificationDetails">
          CARNAVAL + COVID-19
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="dataNotificationDetails">
          23/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotificationDetails">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius pariatur dolor facere!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos delectus ab perspiciatis cumque itaque pariatur
          cupiditate facilis deserunt, fugiat dignissimos modi praesentium optio aliquid placeat mollitia harum,
          explicabo sapiente eum?
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>