.titleNotification{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    float: left;
    text-align: left;
}

.dataNotification{
    color: #ee1b24;
    font-weight: bold;
    font-size: 13px;
    float: right;
    text-align: right;
}

.contentNotification{
    text-align: justified;
}

ion-content {
    --background: #CCCCCC url("../../assets/imgs/patient.png") no-repeat center center !important;
  }
  
  ion-card{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .titleToolbar{
    color:#000;
    font-weight: bold;
    text-align: center;
    float: right;
    text-align:right;
    position:relative;
    margin-top: 2%;
  }
  
  .backButton{
    float:left;
    margin-left:5%;
    border-radius: 1000px;
  }
  
  .sideRedBar{
    border-left: 5px solid #ee1b24;
  }
  
  img{
    height:70px;
    margin-left:25%;
  }
  
  .text3Btn{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    text-align:center;
    padding: 10px;
    margin:auto;
  }
  
  .videoCenter{
    width:100%;
    position: "relative";
  }
  
  .cardSubtitle{
    font-style: italic;
    font-size: 10px;
    color:#808080
  }
  
  *{
    font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
  }