<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      COVID-19
    </ion-title>
    <ion-button (click)="go(0)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          28/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Está todo mundo falando " fique em casa", mas você sabe o porquê?
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          FAKE NEWS
        </ion-col>
        <ion-col class="dataNotification">
          28/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Compartilhar notícias falsas provoca graves consequências. </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          27/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Higienização dos alimentos</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          27/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Depoimento de uma enfermeira
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          25/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Hábitos saudáveis
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          25/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Aprenda como lavar as mãos corretamente
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          FIQUE EM CASA
        </ion-col>
        <ion-col class="dataNotification">
          23/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Nós estamos de peito aberto para enfrentar os desafios que a pandemia do novo Coronavírus tem imposto ao nosso
          dia a dia
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          21/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          CEO reafirma compromisso com pacientes e familiares
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          20/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Lavar as mãos com água e sabão é a melhor maneira de se prevenir contra o novo Coronavírus
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          20/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Os perigos da automedicação
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          PODCAST
        </ion-col>
        <ion-col class="dataNotification">
          20/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Minuto da Saúde: Novo Coronavírus
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          19/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Você sabe quem deve usar máscara?
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          19/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Como se tratar em casa
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          18/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Saiba as diferenças para os sintomas da gripe e do resfriado
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          NOVO CORONAVÍRUS
        </ion-col>
        <ion-col class="dataNotification">
          16/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Previna-se!
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          MINUTO DA SAÚDE
        </ion-col>
        <ion-col class="dataNotification">
          14/02/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Entenda sobre o coronavírus
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>