<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      COVID-19
    </ion-title>
    <ion-button (click)="go(0)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card (click)="goDetalheComunicado(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          COMO LAVAR AS MÃOS
        </ion-col>
        <ion-col class="dataNotification">
          23/03/2019
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius pariatur dolor facere!
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>