.notifications{
    background-color:#fff;
    font-weight: bold;
    font-size: 14px;
}

.notificationsGrid{
    background-color:#fff;
    border-left: 5px solid red;
    vertical-align: middle;
}

.toolbar-content{
    padding: 0;
}

.titleToolbar{
    margin-right:5%;
    color:#000;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    float: right;
}

.floatLeft { 
    color:#000;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    float: left;
}

.floatRight { 
    color:#000;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    float: right;
}

.justified{
    text-align: justify;
}

.backButton{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.bkgWhite{
    background-color:#fff;
    font-weight: bold;
}