<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="../../assets/imgs/video-camera.png">
    <ion-label class="text3Btn">VÍDEOS</ion-label>
  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/news-paper.png">
    <ion-label class="text3Btn">COMUNICADOS</ion-label>
  </ion-card>
  
  <ion-card>
    <img src="../../assets/imgs/patient.png">
    <ion-label class="text3Btn">COVID19</ion-label>
  </ion-card>

</ion-content>