ion-content {
  --background: #CCCCCC url("../../assets/imgs/logo.png") no-repeat center center / cover !important;
}

ion-card{
  margin-left: 5%;
  margin-right: 5%;
}

.titleToolbar{
  color:#000;
  font-weight: bold;
  text-align: center;
}

.sideRedBar{
  border-left: 5px solid red;
}

img{
  height:70px;
  margin-left:25%;
}

.text3Btn{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  text-align:center;
  padding: 10px;
  margin:auto;
}

.videoCenter{
  width:100%;
  position: "relative";
}

.cardSubtitle{
  font-style: italic;
  font-size: 10px;
  color:#808080
}

*{
  font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
}