<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      INTERNE COMUNICA
    </ion-title>
    <ion-button (click)="go(0)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card (click)="go(1)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imgs/video-camera.png">
        </ion-col>
        <ion-col class="text3Btn">
          VÍDEOS
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="go(2)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imgs/news-paper.png">
        </ion-col>
        <ion-col class="text3Btn">
          COMUNICADOS
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="go(3)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/imgs/patient.png">
        </ion-col>
        <ion-col class="text3Btn">
          COVID-19
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>